body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    background-color: white;
	min-width: 450px;
}

h1 {
    font-size: 1.75em;
}


@media (max-width: 600px) {
    body, #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }

    body {
        border-top: 16px solid #ffa100;
    }
}
div#videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#videos > video {
    background: black;
    width: 640px;
    height: 100%;
    display: block;
    margin: 1em;
}




